/* ==========================================================================
   #ARTICLE
   ========================================================================== */

.c-article {
    p:last-child {
        margin-bottom: 0;
    }

    // clear floats ... yes, wordpress still uses floats!
    &:after {
       content: ".";
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
}

    .c-article__meta {
        @include inuit-font-size(14px, 1.5);

        &,
        a {
            color: $c-textmuted;
        }

        a {
            border-bottom: 1px dotted;

            &:hover,
            &:focus {
                color: $c-text;
            }
        }
    }
