/* ==========================================================================
   #MEDIAITEM
   ========================================================================== */

/*
 * 1. Reserve mediaitem :hover offset of 2px
 * 2. Avoid cutting the shadow of last item
 */
.c-medialist {
    margin: 0;
    margin-right: -$unit-small;
    margin-left: -$unit-small;
    padding-top: 2px; /* 1 */
    padding-bottom: $unit-small; /* 2 */
    list-style: none;
    color: $c-text;

    --opacity: 0.45;
}

.c-medialist--white {
    color: $c-white;

    --background: rgba(255, 255, 255, 0.05);
    --border: rgba(255, 255, 255, 0.4);
    --font-weight: 400;
}

.c-medialist--inline {
    margin-right: 0;
    margin-left: 0;

    .c-medialist__item {
        display: inline-block;
        margin-right: $unit-small;
        margin-bottom: $unit-small;
    }
}

@include mq($from: tablet) {
    .c-medialist--2col,
    .c-medialist--3col {
        font-size: 0;
        margin-left: -($unit + $unit-small);


        .c-medialist__item {
            display: inline-block;
            padding-left: $unit;
            width: 50%;
            font-size: $inuit-global-font-size; // IE fallback
            font-size: 1rem;
        }
    }

    .c-medialist--3col .c-medialist__item { width: 33%; }
    .c-medialist--4col .c-medialist__item { width: 25%; }
}
