/* ==========================================================================
   #MEDIA-ARTICLE
   ========================================================================== */
/*
 * 1. Fixes an overlow clipping issue with safari
 */
.c-media-article {
    position: relative;
    z-index: 1; /* 1 */
    border-radius: $global-radius;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

    .c-media-article__header {
        display: block;
        position: relative;
        z-index: 2; /* 1 */
        height: 100%;
    }

        .c-media-article__link {
            display: table;
            transition: $global-transition;
            background-color: rgba($c-black, .65);
            padding: 0 $unit $unit;
            width: 100%;
            height: 100%;
            justify-content: center;

            @include mq($until: tablet) {
                padding-bottom: 0;
            }

            &:hover {
                transform: scale(1.2);
                opacity: 0;
            }
        }

            .c-media-article__title {
                @include inuit-font-size(16px, 1.5);
                display: table-cell;
                vertical-align: middle;
                color: $c-white;
                font-family: $font-body;
                font-weight: 600;

                @include mq($from: tablet, $until: desktop) {
                    font-size: 12px;
                }

                @include mq($until: tablet) {
                    font-size: 10px;
                    font-size: 2.2vw;
                }

                .c-media-article--large & {
                    @include inuit-font-size(24px, 1.5);

                    @include mq($from: tablet, $until: desktop) {
                        font-size: 18px;
                    }

                    @include mq($until: tablet) {
                        font-size: 18px;
                        font-size: 4vw;
                    }
                }
            }

    .c-media-article__bg {
        position: absolute;
        top: 0;
        transition: $global-transition transform;
        z-index: 0; /* 1 */
        background-color: $c-background;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;

        .c-media-article__header:hover ~ & {
            transform: scale(1.05);
        }
    }

    .c-media-article__footer {
        position: absolute;
        bottom: 0;
        transition: $global-transition opacity;
        z-index: 3; /* 1 */
        border-top: 1px solid rgba($c-white, .2);
        padding: $unit-tiny/2 $unit;
        width: 100%;
        color: rgba($c-white, .6);

        a {
            color: rgba($c-white, .75);

            &:hover,
            &:focus {
                color: rgba($c-white, 1);
            }
        }

        .c-media-article__header:hover ~ & {
            opacity: 0;
        }
    }
