/* ==========================================================================
   #COOKIE-CONSENT
   ========================================================================== */

.c-cookie-consent {
    background-color: $c-green-6;
    padding: $unit-small 0;
    color: $c-green-3;
    font-size: 12px;
    line-height: 1.2;
}
