/* ==========================================================================
   #MEDIAITEM
   ========================================================================== */

/*
 * 1. Reserve mediaitem :hover offset of 2px
 */
.c-medialist {
    margin: 0;
    margin-right: -$unit-small;
    margin-left: -$unit-small;
    padding-top: 2px;
    list-style: none;
    color: $c-text;

    --opacity: 0.45;
}

.c-medialist--white {
    color: $c-white;

    --background: rgba($c-white, 0.05);
    --border: rgba($c-white, 0.4);
    --font-weight: 400;
}

.c-medialist--inline {
    margin-right: 0;
    margin-left: 0;

    .c-medialist__item {
        display: inline-block;
        margin-right: $unit-small;
        margin-bottom: $unit-small;
    }
}
