/* ==========================================================================
   #BRANDING
   ========================================================================== */

.c-branding {
    display: table;
    color: $c-primary;
    align-items: center;

    > div {
        display: table-cell;
        vertical-align: middle;
    }
}

    .c-branding__img {
        width: 38px;
        height: 38px;
    }

    .c-branding__title {
        @include inuit-font-size(22px, false);
        padding-left: $unit-small;
        white-space: nowrap;
        font-family: $font-heading;
    }
