/* ==========================================================================
   #DOT
   ========================================================================== */

.c-dot {
    display: inline-block;
    margin-right: $unit-tiny;
    border-radius: 20px;
    background-color: $c-gray-3;
    width: $unit-small;
    height: $unit-small;

    &--green {
        background-color: $c-green;
    }
}
