/* ==========================================================================
   #COLLAPSIBLE
   ========================================================================== */

.c-collapsible {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

    .c-collapsible__header {
        background-color: $c-white;
    }

    .c-collapsible__body {
        flex-grow: 2;
        overflow: hidden;
        padding: $unit-small;
        transition: $global-transition;
        transform: translateY(0);
        opacity: 1;

        .is-collapsed & {
            transform: translateY(-$unit-small);
            opacity: 0;
        }
    }
