/* ==========================================================================
   #EXCERPT
   ========================================================================== */

/*
 * Excerpt of an article
 */
.c-excerpt {
    position: relative;
    width: 100%;
    overflow: hidden;
    color: $c-white;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 56.25%;
    }
}

    .c-excerpt__image,
    .c-excerpt__clickspace,
    .c-excerpt__body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .c-excerpt__image {
        z-index: 0;
        height: 100%;
        transition: $global-transition transform;
        background-color: $c-background;

        > img {
            width: 100%;
            height: auto;
        }

        .c-excerpt:hover & {
            transform: scale(1.05);
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 70%;
            bottom: 0;
            background-image: linear-gradient(to top, rgba($c-black, 0.7), 45%, rgba($c-black, 0.05) 85%, rgba($c-black, 0));
        }
    }

    /*
     * 1. Position clickspace above image
     */
    .c-excerpt__clickspace {
        z-index: 1; /* 1 */
        display: block;

        &:focus {
            border: 2px solid $c-secondary;
        }
    }

    .c-excerpt__body {
        z-index: 3;
        top: unset;
        bottom: 0;
        height: auto;
        padding: $unit;
    }

        .c-excerpt__meta {
            margin: 0;
            opacity: 0.8;

            > li {
                display: inline-block;
                padding-right: $unit-tiny;
            }

            a {
                color: $c-white;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }

        // .c-excerpt__header {

        // }

        .c-excerpt__content {
            p {
                margin-bottom: 0;
            }
        }


    .c-excerpt__date {
        position: absolute;
        z-index: 2;
        top: $unit;
        right: $unit;
        width: $unit * 2;
        height: $unit * 2;
        background-color: $c-black;
        text-align: center;
        line-height: 1.2;
        font-size: 60%;
        font-weight: 400;
        text-transform: uppercase;
        opacity: 0.75;

        &--big {
            @include mq($from: tablet) {
                font-size: 80%;
                width: $unit * 3;
                height: $unit * 3;
            }
        }

        strong {
            font-size: 150%;
            font-weight: 700;
        }
    }

