/* ==========================================================================
   #SECTION
   ========================================================================== */

.c-section {
    margin-top: $unit-large;

    @include mq($from: tablet) {
        margin-top: $unit-huge;
    }
}

/*
 * Top Margins
 * ****************************/
.c-section--flush {
    margin-top: 0;
}

/*
 * Background colors
 * ****************************/
.c-section--alt {
    background-color: $c-gray-2;
}
