/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-site-header {
    border-bottom: 1px solid $c-border;
}

    .c-site-header__flex {
        display: table;
        display: flex;
        width: 100%;
        height: $header-height;
        align-items: center;
        justify-content: space-between;

        @include mq($until: tablet) {
            padding-right: 0;
        }
    }

        .c-site-header__item {
            display: table-cell;
            padding: 0 $unit-large 0 0;
            vertical-align: middle;

            @supports(display: flex) {
                display: block;
            }

            @include mq($until: desktop) {
                padding-right: $unit;
            }

            &:first-child {
                flex-grow: 2;
                overflow: hidden;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .c-site-header__item--double {
            flex-grow: 2;
        }

            .c-site-header__hamburger {
                padding-right: 0; /* IE9 */
                padding-left: 0; /* IE9 */
                width: $header-height;
                height: $header-height;

                @include mq($until: tablet) {
                    border-right-width: 0;
                    margin-right: -$unit;
                }
            }
