/* ==========================================================================
   #DOT
   ========================================================================== */

.c-dot {
    display: inline-block;
    margin-right: $unit-tiny;
    border-radius: 20px;
    background-color: $c-gray-3;
    width: $unit-small;
    height: $unit-small;
    border: $unit-tiny solid transparent;

    &--green {
        background-color: $c-green;
    }

    &.is-loading {
        border-left-color: $c-gray-5;
        border-right-color: $c-gray-5;
        // animation: rotating 1.2s infinite;
        animation: rotating 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
}

@keyframes rotating {
    100% {
        transform: rotate(360deg);
    }
}
