/* ==========================================================================
   #FOMRS
   ========================================================================== */

form {
    legend {
        color: $c-border;
    }

    label {
        font-weight: bold;
        margin-right: $unit-small;
    }

    ul {
        margin: 0;
        list-style: none;
    }
}

fieldset {
    border: 1px solid $c-border;
    border-radius: $global-radius;
    padding: $unit-small $unit $unit;
}

input,
textarea {
    transition: border-color $global-transition;
    border: 1px solid $c-border;
    border-radius: $global-radius;
    background-color: $c-gray-1;
    padding: $unit-tiny $unit-small;
    color: $c-text;
    font: inherit;
    font-weight: 300;
    width: 100%;
    line-height: 1.2;

    &::placeholder { color: $c-gray-8; }
    &::-webkit-input-placeholder { color: $c-gray-8; }
    &:-ms-input-placeholder { color: $c-gray-8; }

    &:focus {
        border-color: $c-primary-5;
    }

    // &[type="text"],
    // &[type="tel"],
    // &[type="number"] {
    //     width: 100%;
    // }

    &[type="radio"],
    &[type="checkbox"] {
        cursor: pointer;
        width: unset;
    }
}

textarea {
    // width: 100%;
    min-height: $unit * 3;
}
