/* ==========================================================================
   #FLEX
   ========================================================================== */

.o-flex {
    display: flex;
    align-items: self-start;

    // justify-content
    &--left { justify-content: flex-start; }
    &--center { justify-content: center; }
    &--right { justify-content: flex-end; }
    &--between { justify-content: space-between; }
    &--around { justify-content: space-around; }

    // align-items
    &--stretch { align-items: stretch; }
    &--middle { align-items: center; }
    &--top { align-items: flex-start; }
    &--bottom { align-items: flex-end; }
    &--baseline { align-items: baseline; }

    // direction
    &--row-reverse { flex-direction: row-reverse; }
    &--column { flex-direction: column; }
    &--column-reverse { flex-direction: column-reverse; }

    // Gutters
    &--tiny { margin-left: -$unit-tiny; }
    &--small { margin-left: -$unit-small; }
    &--unit { margin-left: -$unit; }
    &--large { margin-left: -$unit-large; }
    &--huge { margin-left: -$unit-huge; }

    // Misc
    &--wrap { flex-wrap: wrap; }
}

    .o-flex__item {
        .o-flex--tiny & {
            margin-left: $unit-tiny;
        }

        .o-flex--small & {
            margin-left: $unit-small;
        }

        .o-flex--unit & {
            margin-left: $unit;
        }

        .o-flex--large & {
            margin-left: $unit-large;
        }

        .o-flex--huge & {
            margin-left: $unit-huge;
        }
    }

