/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

/**
 * The list-inline object simply displays a list of items in one line.
 */

.o-list-inline {
    margin: 0;
    list-style: none;

    > li {
        display: inline-block;
        margin-right: $unit-small;
    }
}

.o-list-inline--nowrap > li {
    white-space: nowrap;
}

.o-list-inline--small > li {
    margin-right: $unit-tiny;
}

.o-list-inline--large > li {
    margin-right: $unit;
}

.o-list-inline--flush,
.o-list-inline--1px {
    font-size: 0;

    > li {
      font-size: $inuit-global-font-size;
      font-size: 1rem;
      margin-right: 0;
    }
}

.o-list-inline--1px > li {
    margin-right: 1px;
}
