///* ========================================================================
//   #COLORS
//   ======================================================================== */

// Brand Colors

$c-primary:               #061375;
$c-primary-lighter:       lighten($c-primary, 10%);
$c-primary-light:         #0b5ee5;
$c-primary-darker:        darken($c-primary, 10%);
$c-primary-dark:          #040b44;

$c-secondary:             #0b5ee5;
$c-secondary-lighter:     lighten($c-secondary, 10%);
$c-secondary-darker:      darken($c-secondary, 10%);

$c-white:       #fff;
$c-gray-1:      #f8f8f8;
$c-gray-2:      #f0f0f0;
$c-gray-3:      #e8e8e8;
$c-gray-4:      #b6b6b6;
$c-gray-5:      #8e8e8e;
$c-gray-6:      #666;
$c-gray-7:      #4d4d4d;
$c-gray-8:      #333;
$c-gray-9:      #262626;
$c-black:       #000;

// Brand
$c-primary-1:   #eaf5f9;
$c-primary-2:   #c2e2ef;
$c-primary-3:   #8ec4db;
$c-primary-4:   #62acc9;
$c-primary-5:   #3b97bf;
$c-primary-6:   #2f83a8;
$c-primary-7:   #226b89;
$c-primary-8:   #175670;
$c-primary-9:   #0c4056;
// $c-primary:     #207da4;

// Utility colors
$c-green-1:     #e9fce7;
$c-green-2:     #c8efc4;
$c-green-3:     #7bc473;
$c-green-4:     #4ca945;
$c-green-5:     #44913a;
$c-green-6:     #397730;
$c-green-7:     #2e6027;

$c-red-1:       #f9eeed;
$c-red-2:       #f2c5c1;
$c-red-3:       #dd726b;
$c-red-4:       #c62317;
$c-red-5:       #ad1d12;
$c-red-6:       #96180f;
$c-red-7:       #7f130a;

$c-yellow-1:    #fcf1d9;
$c-yellow-2:    #f9e6b8;
$c-yellow-3:    #eac879;
$c-yellow-4:    #ddaf42;
$c-yellow-5:    #a37e2a;
$c-yellow-6:    #7f6019;
$c-yellow-7:    #614810;

$c-dark:        $c-gray-8;
$c-light:       $c-gray-2;
$c-green:        $c-green-4;
$c-yellow:      $c-yellow-4;
$c-red:         $c-red-4;
// $c-green:       #3aa648;
// $c-red:         #ed1c24;

/**
 * Semantics
 * Semantic color variables are daisy-chained onto their literal names.
 */

/* Text colors */
$c-text:                        $c-gray-8;
$c-textalt:                     $c-gray-5;
$c-textmuted:                   rgba($c-gray-8, 0.45);
$c-accent:                      $c-primary;
$c-background:                  $c-gray-1;
$c-background-transparent:      rgba($c-black, 0.04);
$c-border:                      $c-gray-3;

$c-link:                        $c-secondary;
$c-link-hover:                  $c-primary;

// Grab colors from the above map by calling `color(error)`.
@function color($key) {
  @return map-get($global-colors, $key);
}




