/* ==========================================================================
   #ICONS
   ========================================================================== */

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot?nc6s1");
  src: url("../fonts/icomoon/fonts/icomoon.eot?nc6s1#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/fonts/icomoon.ttf?nc6s1") format("truetype"),
    url("../fonts/icomoon/fonts/icomoon.woff?nc6s1") format("woff"),
    url("../fonts/icomoon/fonts/icomoon.svg?nc6s1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="u-ic-"],
[class*=" u-ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  text-transform: none;
  line-height: 1;
  font-family: "icomoon" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: -0.1em;
}

.u-ic-warning:before {
  content: "\e002";
}
.u-ic-schedule:before {
  content: "\e8b5";
}
.u-ic-date:before {
  content: "\e916";
}
.u-ic-comment:before {
  content: "\e8af";
}
.u-ic-download:before {
  content: "\e884";
}
.u-ic-visibility:before {
  content: "\e8f4";
}
.u-ic-reply:before {
  content: "\e15e";
}
.u-ic-share:before {
  content: "\e80d";
}
.u-ic-folder:before {
  content: "\e2c7";
}
.u-ic-plus:before {
  content: "\e145";
}
.u-ic-minus:before {
  content: "\e15b";
}
.u-ic-checkbox:before {
  content: "\e907";
}
.u-ic-checkbox-checked:before {
  content: "\e908";
}
.u-ic-checkbox-indeterminate:before {
  content: "\e901";
}
.u-ic-mail:before {
  content: "\e0e1";
}
.u-ic-send:before {
  content: "\e163";
}
.u-ic-arrow-back:before {
  content: "\e5c4";
}
.u-ic-arrow-downward:before {
  content: "\e5db";
}
.u-ic-arrow-forward:before {
  content: "\e5c8";
}
.u-ic-arrow-upward:before {
  content: "\e5d8";
}
.u-ic-headset:before {
  content: "\e310";
}
.u-ic-keyboard-arrow-down:before {
  content: "\e313";
}
.u-ic-keyboard-arrow-left:before {
  content: "\e314";
}
.u-ic-keyboard-arrow-right:before {
  content: "\e315";
}
.u-ic-keyboard-arrow-up:before {
  content: "\e316";
}
.u-ic-menu:before {
  content: "\e5d2";
}
.u-ic-search:before {
  content: "\e8b6";
}
.u-ic-videocam:before {
  content: "\e04b";
}
.u-ic-facebook:before {
  content: "\ea91";
}
.u-ic-youtube:before {
  content: "\ea9d";
}
.u-ic-link:before {
  content: "\e157";
}
.u-ic-close:before {
  content: "\e5cd";
}
.u-ic-closed-caption:before {
  content: "\e01c";
}
.u-ic-creative-commons-sharealike:before {
  content: "\e900";
}
.u-ic-creative-commons-noncommercial-us:before {
  content: "\e902";
}
.u-ic-creative-commons-noncommercial-eu:before {
  content: "\e903";
}
.u-ic-creative-commons-noderivs:before {
  content: "\e904";
}
.u-ic-creative-commons-attribution:before {
  content: "\e905";
}
.u-ic-creative-commons:before {
  content: "\e906";
}
