/* ==========================================================================
   #TEXT-ALIGN
   ========================================================================== */

/**
 * generate text-align classes
 *
 *   <div class="u-text-center"></div>
 */
$text-align: (
    left:   "left",
    center: "center",
    right:  "right"
);

@each $key, $value in $text-align {
    .u-text-#{$key} {
        text-align: #{$value} !important;
    }
}
