/* ==========================================================================
   JOEL WORDPRESS THEME ADMIN
   ========================================================================== */

// SETTINGS, TOOLS, GENERIC, ELEMENTS
@import "settings.scss";
@import "tools.scss";
// @import "generic.scss";
// @import "elements.scss";



// OBJECTS
@import "objects/flex";



// COMPONENTS
@import "components/spinner";
@import "components/alert";
@import "components/badge";
@import "components/dots";

/* Progress Bar */
.c-progress {
    height: 20px;
    margin: 6px 0;
    overflow: hidden;
    background-color: $c-gray-3;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.c-progress__bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #337ab7;

    .c-progress--green & {
        background-color: #5cb85c;
    }
}

.c-table {
    td {
        text-align: left;
        vertical-align: middle;
    }
}



// UTILITIES
@import "~inuitcss/utilities/utilities.widths";
@import "~inuitcss/utilities/utilities.hide";
@import "utilities/text-align";
@import "utilities/text";

[v-cloak] {
    display: none;
}


// RESPONSIVE UTILITIES
@import "utilities/responsive-spacings";



// OTHER
@import "~chartist/dist/scss/chartist.scss";

/* Images */
.img {
    background-color: rgba(0, 0, 0, 0.2);
}

.img-54p { width: 96px; height: 54px; }
.img-72p { width: 128px; height: 72px; }
.img-108p { width: 196px; height: 108px; }
.img-144p { width: 256px; height: 144px; }
.img-180p { width: 320px; height: 180px; }
.img-360p { width: 640px; height: 360px; }
.img-720p { width: 1280px; height: 720px; }

.img-square80 { width: 80px; height: 80px; }
.img-square160 { width: 160px; height: 160px; }
.img-square320 { width: 320px; height: 320px; }
.img-square640 { width: 640px; height: 640px; }

/* ACF */
.acf-field.acf-field-5a8eaf6292f5d ,
.acf-field.acf-field-5a8eb2f599038 {
    .acf-button-group {
        flex-wrap: wrap;
    }

    label {
        // flex-basis: 200px;
        flex-shrink: 0;
        padding: 3px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

/* Admin Columns */
.wp-list-table {
    .column-status {
        width: $unit-small;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .column-speakers,
    .column-series {
        width: 120px;
    }

    .column-stats {
        width: 100px;
    }

    .column-posts,
    .column-topics,
    .column-subs {
        width: 80px;
    }

    .column-image {
        width: 96px;
    }

    .column-speakers,
    .column-date {
        border-left: 1px solid $c-gray-2;
    }

    .column-stats,
    .column-subs {
        background-color: rgba($c-black, 0.05);
        color: $c-textmuted;
    }
}

.wp-core-ui .attachment .landscape img:not(.icon) {
    width: auto;
    height: 100%;
}

.dashicons-auto {
    width: auto;
    height: auto;
    font-size: unset;
    vertical-align: -10%;
}

@media screen and (max-width: 782px) {
    .wp-list-table {
        tr:not(.inline-edit-row):not(.no-items) td.column-image::before {
            display: none;
        }

        th.column-image,
        th.column-status {
            display: none;
        }

        tr:not(.inline-edit-row):not(.no-items) td.column-status {
            position: absolute;
            left: 140px;
            margin-top: -55px;
        }
    }
}


/* Admin Menu */
#adminmenu li.wp-menu-separator {
    background: #444;
}

@import "~chartist/dist/scss/chartist";



// LEGACY
@import "legacy/admin";


