/* ==========================================================================
   JOEL WORDPRESS THEME
   ========================================================================== */

/**
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */

/**
 * CONTENTS
 *
 * SETTINGS
 * Config...............Project-level configuration and feature switches.
 * Core.................inuitcss’ core and setup settings.
 * Global...............Project-wide variables and settings.
 *
 * TOOLS
 * Rem..................Tools for converting pixel inputs into their rem
 *                      equivalents.
 * Font-size............A mixin which guarantees baseline-friendly line-heights.
 * Clearfix.............Micro clearfix mixin.
 * Hidden...............Mixin for hiding elements.
 * Sass MQ..............inuitcss’ default media query manager.
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 * Normalize.css........A level playing field using @necolas’ Normalize.css.
 * Reset................A tiny reset to complement Normalize.css.
 * Shared...............Sensibly and tersely share some global commonalities
 *                      (particularly useful when managing vertical rhythm).
 *
 * ELEMENTS
 * Page.................Set up our document’s default `font-size` and
 *                      `line-height`.
 * Headings.............Very minimal (i.e. only font-size information) for
 *                      headings 1 through 6.
 * Images...............Base image styles.
 * Tables...............Simple table styles.
 *
 * OBJECTS
 * Wrapper..............Page constraint object.
 * Layout...............Generic layout module.
 * Media................Image- and text-like content side by side. The
 *                      poster-child of OOCSS.
 * Flag.................Table-layout-based advancement on the Media object.
 * List-bare............Lists with no bullets or indents.
 * List-inline..........A list whose items all site in a line.
 * Box..................Simple boxing abstraction.
 * Block................Image-on-top-of-text object.
 * Ratio................A container for maintaining aspect ratio of content.
 * Crop.................Provide a cropping context for media (images, etc.).
 * Tables...............Classes for manipulating `table`s.
 * Pack.................Pack items into available horizontal space.
 *
 * COMPONENTS
 * Buttons..............An example button component, and how it fits into the
 *                      inuitcss framework.
 *
 * UTILITIES
 * Clearfix.............Bind our clearfix onto a utility class.
 * Widths...............Simple width helper classes.
 * Headings.............Reassigning our heading styles to helper classes.
 * Spacing..............Nudge bits of the DOM around with these spacing
 *                      classes.
 * Print................Reset-like styles taken from the HTML5 Boilerplate.
 * Hide.................Helper classes to hide content
 */

// SETTINGS
$inuit-global-font-size: 14px;
$inuit-global-line-height: 21px;

@import "settings.config";
@import "~inuitcss/settings/settings.core";
@import "settings.global";
@import "settings.colors";



// TOOLS
@import "~inuitcss/tools/tools.font-size";
@import "~inuitcss/tools/tools.clearfix";
@import "~inuitcss/tools/tools.hidden";
@import "~sass-mq/mq";
@import "tools.clothoid";




// GENERIC
@import "~inuitcss/generic/generic.box-sizing";
@import "~inuitcss/generic/generic.normalize";
@import "~inuitcss/generic/generic.reset";
@import "~inuitcss/generic/generic.shared";

/**
 * 1. Allow overflow-x: hidden to work
 * 2. Make containers default to 100% viewport height
 * 3. Fix safari transition fort smoothing bug
 * 4. Fix iOS bouncy scroll
 * Note: Do not use "overflow-x: hidden;"" because it kills window.scroll
 */
html,
body {
    position: relative; /* 1 */
    background-color: $c-white;
    height: 100%; /* 2 */
    -webkit-font-smoothing: antialiased; /* 3 */
    -webkit-overflow-scrolling: touch;
}

/**
 * 1. can not be applied to html or body because it messes with smooth scrolling
 *    on the iPhone
 */
main {
    overflow: hidden; /* 1 */
}

a {
    outline: 0;
    text-decoration: none;
    color: $c-link;

    &:hover,
    &:focus {
        color: $c-link-hover;
    }
}

hr {
    border: 0;
    border-top: 1px solid $c-border;
}




// ELEMENTS
@import "~inuitcss/elements/elements.page";
@import "~inuitcss/elements/elements.headings";
@import "~inuitcss/elements/elements.images";
@import "~inuitcss/elements/elements.tables";
@import "elements.typography";
@import "elements.forms";

[v-cloak] {
    display: none;
}



// OBJECTS
@import "~inuitcss/objects/objects.wrapper";
@import "~inuitcss/objects/objects.layout";
@import "~inuitcss/objects/objects.media";
@import "~inuitcss/objects/objects.flag";
@import "~inuitcss/objects/objects.list-bare";
@import "objects.list-inline";
@import "~inuitcss/objects/objects.box";
@import "~inuitcss/objects/objects.block";
@import "~inuitcss/objects/objects.ratio";
@import "~inuitcss/objects/objects.crop";
// @import "~inuitcss/objects/objects.pack";
@import "objects.overflow";
// @import "objects.owl";
@import "objects.grid";
@import "objects.flex";
// @import "objects.tables";

.o-layout--overflow {
    white-space: nowrap;
}

.o-box--natural {
    padding: $unit-small $unit;
}

.o-wrapper--slim {
    max-width: 800px;
}

.o-wrapper--flush {
    padding-right: 0;
    padding-left: 0;
}

.o-pack--1px {
    border-spacing: 1px;
}

/*
 * avoiding the 1px gap
 */
.o-ratio__content {
    height: 100.2%;
}

/*
 * Stack media object on mobile
 */
.o-media--stacked\@mobile {
    @include mq($until: tablet) {
        .o-media__img,
        .o-media__body {
            float: none;
        }

        .o-media__img {
            margin-right: 0;
            margin-bottom: $unit;
            width: 100% !important;
        }
    }
}




/**
 * COMPONENTS
 *
 * 1. .c-site-wrapper is included with .c-mobile-nav
 */
$header-height: 56px;

@import "components.article";
@import "components.alert";
@import "components.badge";
@import "components.buttons";
@import "components.button-group";
@import "components.branding";
@import "components.collapsible";
@import "components.dropdowns";
@import "components.excerpt";
@import "components.flyin"; /* 1 */
@import "components.forms";
@import "components.hamburger";
@import "components.header-bg";
@import "components.links";
@import "components.medialist";
@import "components.mediaitem";
@import "components.media-promo";
// @import "components.media-article";
@import "components.primary-nav";
@import "components.program";
@import "components.search-bar";
@import "components.section";
@import "components.site-header";
@import "components.site-footer";
@import "components.site-wrapper";
@import "components.slider";
@import "components.slide";
@import "components.spinner";
@import "components.tabs";
@import "components.wp-styles";
@import "components.widgets";
@import "components.dots";
@import "components.cookie-consent";

.c-logo {
    min-width: 36px;

    &--hero {
        width: $unit-huge;
    }
}

.c-player {
    background-size: cover;
    background-color: $c-black;
}

$livestream-meta-height: $unit * 5;

.c-livestream-meta {
    height: $livestream-meta-height;
}

.c-tlkio {
    position: relative;
    height: 50vh;
    box-shadow: $global-shadow;
    background-color: $c-white;

    @include mq($from: tablet) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -$livestream-meta-height;
        left: $unit-large;
        height: auto;
    }

    // @include mq($from: desktop) {
    //     position: absolute;
    //     height: 512px;
    // }

    // &::before {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     padding-bottom: 400px;

    //     @include mq($from: tablet) {
    //         padding-bottom: calc(88% + 85px);
    //     }

    //     @include mq($from: desktop) {
    //         padding-bottom: calc(120% + 87px);
    //     }
    // }

    #tlkio {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}


// STATES
.is-faded {
    opacity: 0.25;
}

// UTILITIES
@import "~inuitcss/utilities/utilities.clearfix";
@import "~inuitcss/utilities/utilities.widths";
@import "~inuitcss/utilities/utilities.headings";
@import "~inuitcss/utilities/utilities.print";
@import "~inuitcss/utilities/utilities.hide";
@import "utilities.animation";
@import "utilities.icons";
@import "utilities.orientation";
@import "utilities.text-align";
@import "utilities.text";
@import "utilities.show-more";

.u-advent-sans {
    font-family: $font-heading !important;
}

.u-roboto {
    font-family: $font-body !important;
}


/*
 * Box Style Utilities
 *************************/

.u-box-center {
    margin-right: auto;
    margin-left: auto;
}

.u-hover,
.u-active {
    margin-right: -$unit-tiny;
    margin-left: -$unit-tiny;
    border-radius: $global-radius;
    padding-right: $unit-tiny;
    padding-left: $unit-tiny;
}

.u-active {
    background-color: rgba($c-green, 0.3);
}

.u-hover:hover {
    background-color: rgba(0, 0, 0, 0.03);

    &.u-active {
        background-color: rgba($c-green, 0.5);
    }
}

.u-box-shadow {
    box-shadow: $global-shadow;
}

.u-bg-white {
    background-color: $c-white;
}

.u-anchor {
    position: relative;
}

.u-rounded {
    border-radius: $global-radius;
}

.u-border-left {
    border-left: 1px solid $c-border;
}

.u-defocus:focus {
    outline: none;
}

/*
 * Color Utilities
 *************************/
.u-bg-muted {
    background-color: $c-gray-1;
}

/*
 * Specific Width Utilities
 *************************/

.u-160 { width: 160px !important }
.u-320 { width: 320px !important }

.u-54p { width: 96px !important }
.u-72p { width: 128px !important }
.u-108p { width: 192px !important }
.u-144p { width: 256px !important }
.u-180p { width: 320px !important }
.u-360p { width: 640px !important }
.u-720p { width: 1280px !important }
.u-1080p { width: 1920px !important }

.u-min-220 { min-width: 220px !important }
.u-h100 { height: 100% !important }

/*
 * Display Utilities
 *************************/

.u-db { display: block }
.u-dib { display: inline-block }
.u-di { display: inline }

/*
 * Other Utilities
 *************************/

.u-spacer-top {
    margin-top: $unit-large;

    @include mq($from: tablet) {
        margin-top: $unit-huge;
    }
}

.u-transition {
    transition: $global-transition;
}

// RESPONSIVE UTILITIES
@import "utilities.responsive-spacings";
@import "utilities.responsive-hide";
@import "utilities.responsive-headings";

.u-break-wrapper {
    margin-right: -$unit;
    margin-left: -$unit;
}

.u-break-wrapper\@until-tablet {
    @include mq($until: tablet) {
        margin-right: -$unit;
        margin-left: -$unit;
    }
}

.u-ib-until\@tablet {
    @include mq($until: tablet) {
        display: inline-block !important;
    }
}
