/* ==========================================================================
   #FOMRS
   ========================================================================== */

/*
 * 1. deduct 1px border width
 * 2. vertically align '.c-form input' and '.c-btn'
 */
.c-form {
    input,
    textarea,
    select,
    label {
        display: inline-block;
    }

    input,
    textarea {
        padding: $unit-small - 1px $unit-small * 1.5; /* [1] */
        vertical-align: top; /* [2] */
        line-height: floor($font-size * 1.2);
    }

    select {
        text-indent: $unit-small;
        height: $unit-large;
    }

    label {
        margin-bottom: $unit-tiny;
    }

    dd {
        margin-left: 0;
    }

    &--auto {
        input,
        textarea,
        select,
        label {
            width: auto;
        }
    }

    &--group {
        display: flex;
        align-items: flex-start;

        > button,
        > input[type="submit"] {
            flex-shrink: 0;
        }
    }

    &--inverse {
        input:focus,
        button:focus {
            outline: none;
            box-shadow: 0 0 6px 2px rgba($c-white, 0.6);
        }

        input[type="checkbox"]:focus {
            box-shadow: 0 1px 6px 2px rgba($c-white, 0.6);
        }
    }

    &--large {
        input,
        textarea,
        select {
            padding: $unit $unit-large;
        }
    }
}


    .c-form__list {
        > li {
            margin-bottom: $unit;
        }
    }

    .c-form__error,
    .c-form__info {
        @include inuit-font-size($font-size-small);

        padding: $unit-tiny*0.5 $unit;
        border-radius: $global-radius;
        background-color: $c-gray-3;
        margin-bottom: 1px;
    }

    span.c-form__error,
    span.c-form__info {
            display: block;
        }

    .c-form__error {
        color: $c-red-5;
        background-color: $c-red-1;
    }

    .c-form__info {
        color: $c-brand-5;
        background-color: lighten($c-brand-5, 45%);
    }

    /*
     * 1. Don't break button from input
     * 2. if 100% width is reached save exactly the space for a button with icon
     */
    .c-form__input-with-btn {
        white-space: nowrap; /* 1 */

        .c-form__input {
            border-radius: $global-radius 0 0 $global-radius;
            padding-right: $unit;
            max-width: calc(100% - 50px); /* 2 */
        }

        .c-form__btn {
            display: inline-block;
            vertical-align: top;
            line-height: 1.15; // same as input
        }
    }

    .c-form--large {
        .c-form__input {
            padding: $unit-small - 1px $unit;
        }

        .c-form__btn {
            padding: $unit-small $unit;
        }
    }
