/* ==========================================================================
   #SECTION
   ========================================================================== */

.c-section {
    padding-top: $unit;
    padding-bottom: $unit;

    @include mq($from: tablet) {
        padding-top: $unit-large;
        padding-bottom: $unit-large;
    }
}

/*
 * Top Margins
 * ****************************/
.c-section--flush {
    padding-top: 0;
    padding-bottom: 0;
}

/*
 * Background colors
 * ****************************/
.c-section--alt {
    background-color: $c-gray-2;
}

.c-section--primary {
    background-color: $c-primary-darker;
    color: $c-white;
}
