html,
body {
    color: $c-text;
    font-family: $font-body;
    font-weight: 300;

    // @include mq($until: tablet) {
    //     font-size: 12px;
    // }
}

h1 {
    font-family: $font-heading;
    font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

small {
    @include inuit-font-size(12px);
}

