/* ==========================================================================
   #FLEX
   ========================================================================== */

.o-flex {
    --gap: 0;

    display: flex;
    align-items: self-start;
    margin-left: calc(-1 * var(--gap));
    margin-top: calc(-1 * var(--gap));

    // Gaps
    &--tiniest { --gap: #{$unit-tiny/4}; }
    &--tinier { --gap: #{$unit-tiny/2}; }
    &--tiny { --gap: #{$unit-tiny}; }
    &--small { --gap: #{$unit-small}; }
    &--unit { --gap: #{$unit}; }
    &--large { --gap: #{$unit-large}; }
    &--huge { --gap: #{$unit-huge}; }

    // justify-content
    &--left { justify-content: flex-start; }
    &--center { justify-content: center; }
    &--right { justify-content: flex-end; }
    &--between { justify-content: space-between; }
    &--around { justify-content: space-around; }
    &--evenly { justify-content: space-evenly; }

    // align-items
    &--stretch { align-items: stretch; }
    &--middle { align-items: center; }
    &--top { align-items: flex-start; }
    &--bottom { align-items: flex-end; }
    &--baseline { align-items: baseline; }

    // direction
    &--row-reverse { flex-direction: row-reverse; }
    &--column { flex-direction: column; }
    &--column-reverse { flex-direction: column-reverse; }

    // Misc
    &--wrap { flex-wrap: wrap; }

    > *,
    > .o-flex__item {
        min-width: 0; /* 1 */
    }

    > * {
        margin-left: var(--gap);
        margin-top: var(--gap);
    }

    > .o-flex__item {
        margin-left: 0;
        padding-left: var(--gap);
    }
}

    .o-flex__spacer {
        flex-grow: 90;
    }
