/* ==========================================================================
   #DOT
   ========================================================================== */

.c-dot {
    --bg: #{$c-gray-3};

    position: relative;
    display: inline-block;
    background-color: var(--bg);
    width: $unit-small;
    height: $unit-small;
    text-align: center;
    line-height: $unit-small;
    font-size: 8px;

    &,
    &::after {
        border-radius: 50%;
        border: 2px solid var(--bg);
    }

    &--small {
        width: $unit-tiny;
        height: $unit-tiny;
    }

    &--green { color: $c-white; --bg: #{$c-green-4}; }
    &--yellow { color: $c-white; --bg: #{$c-yellow-4}; }
    &--red { color: $c-white; --bg: #{$c-red-4}; }

    &.is-loading::after {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        border-left-color: currentcolor;
        border-right-color: currentcolor;
        animation: rotating 1.2s infinite linear;
    }

    &--small.is-loading::after {
        border-width: calc($unit-tiny / 2);
    }

    &--border {
      border: 2px solid $c-white;
      width: $unit-small + 2px;
      height: $unit-small + 2px;
    }
}

@keyframes rotating {
    100% {
        transform: rotate(360deg);
    }
}
